/*Colours ----------------*/
:root {
  --black: #000000;
  --white: #fff4f4;
  --grey: #232323;
  --pink: #e02c4e;
  --lightgold: #9a7c44;
  --darkgold: #604800;
}

.about-image1 {
  display: flex;
  width: calc(100% - 15px);
  height: auto;
}
.about-image2 {
  display: flex;
  width: calc(100% - 15px);
  height: auto;
}

.two-image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}
.signature-img {
  max-width: 150px;
  margin-top: -40px;
  margin-left: 10%;
}

/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  .two-image-container {
    width: 80%;
  }
  .signature-img {
    margin-left: 20%;
  }
}

/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
  .two-image-container {
    width: 60%;
  }
}
