/*Colours ----------------*/
:root {
  --black: #000000;
  --white: #fff4f4;
  --grey: #232323;
  --pink: #e02c4e;
  --lightgold: #9a7c44;
  --darkgold: #604800;
}

.contact-form {
  max-width: 760px;
  margin: 0 auto;
}

input {
  width: 85%;
  margin: 0 15px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--lightgold);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
input:focus {
  outline: none !important;
  border: 2px solid var(--darkgold);
}

.form-labels {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form-error {
  display: none;
}

.error-message {
  color: var(--pink);
  font-size: 1.2rem;
  margin-top: 2px;
  padding: 2px 15px 0 15px;
}

textarea {
  height: 200px;
  width: 85%;
  margin: 0 15px;
  border: 2px solid var(--lightgold);
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
textarea:focus {
  outline: none !important;
  border: 2px solid var(--darkgold);
}

.validation-modal {
  display: none;
}
.validation-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.35s ease-in;
  z-index: 20;
}
.modal-header {
  display: block;
  height: 50px;
}

.modal-content {
  position: relative;
  max-width: max-content;
  max-height: max-content;
  overflow: hidden;
  margin: 0 auto;
}
.modal-frame {
  background-color: var(--white);
  padding: 15px;
}

.close {
  color: var(--white);
  float: right;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--darkgold);
  text-decoration: none;
  cursor: pointer;
}

.validation-message {
  font-size: 2rem;
  text-align: center;
  padding: 15px 0;
  margin: 0;
  color: var(--grey);
}
.forgot-p {
  padding: 15px 0;
  margin: 0;
  text-align: center;
  color: var(--darkgold);
  font-weight: 500;
}
.modal-image {
  margin: 0 auto;
  max-width: 500px;
  height: 200px;
}
.validation-image {
  max-width: 500px;
  height: 200px;
}

.modal-button {
  background-color: var(--pink);
  border: none;
  border-radius: 25px;
  width: 200px;
  margin: 5px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--white);
  padding: 15px;
  align-self: center;
  transition: all 0.3s ease 0s;
}
.modal-button:hover {
  background-color: #be0036;
  transform: scale(1.05);
  cursor: pointer;
}
.modal-button-container {
  margin: 0 auto;
  max-width: 460px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.info-container {
  padding-bottom: 20px;
}

/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  .modal-image {
    height: auto;
  }
  .validation-image {
    height: auto;
  }
}
/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
  input,
  textarea {
    width: 90%;
  }
}
/* Extra Large Screens-------------*/
@media only screen and (min-width: 1281px) {
}
/* 
    -------------*/
/* 
    -------------*/
