.mySlides {
  display: none;
}

.post-image-container {
  margin: 0 auto;
  width: calc(100% - 30px);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post-container {
  position: static;
  margin: auto;
  z-index: 0;
  background-color: #fffffe;
  width: 100%;
  margin: 30px auto;
  height: 500px;
  padding: 15px 0;
  box-shadow: 3px 3px 2px 1px rgba(48, 51, 54, 0.3);
}

.arrow-container {
  position: relative;
  top: -270px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.prevArrow,
.nextArrow {
  cursor: pointer;
  padding: 20px;
  margin: 0;
  color: #fffffe;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  user-select: none;
}

.prevArrow:hover,
.nextArrow:hover {
  color: rgba(255, 0, 0, 0.8);
}

.title-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title-container:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.latest-quote {
  color: #fffffe;
  padding: 0 30px;
}
.latest-quote::before {
  content: open-quote;
  font-size: 1.2rem;
}
.latest-quote::after {
  content: close-quote;
  font-size: 1.2rem;
}

.dot-container {
  margin-top: -20px;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #ff0000;
}
.dot:hover {
  background-color: #303336;
}

/* Fading animation for carosel/slideshow */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  .title-container {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
  }
}

/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
}

/* Extra Large Screens-------------*/
@media only screen and (min-width: 1281px) {
}
/* 
    -------------*/
/* 
    -------------*/
