.container {
  position: relative;
}
.post-image1,
.post-paragraph1,
.post-image2,
.post-image3,
.post-paragraph2 {
  position: relative;
}
.light-grey-background-div {
  background-color: #d9d9d9;
  height: calc(100% - 275px);
  position: absolute;
  width: 100%;
  padding: 15px;
  right: -15px;
  top: 100px;
  z-index: -1;
}
.yellow-background-div {
  background-color: #ffff00;
  height: calc(100% - 115px);
  position: absolute;
  width: 100%;
  padding: 15px;
  right: -15px;
  top: 100px;
  z-index: -1;
}

.post-image-container-1 {
  display: block;
  margin: 0 auto;
  width: calc(100% - 30px);
  height: min-content;
}
.image-1,
.image-2,
.image-3 {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.image-1:hover,
.image-2:hover,
.image-3:hover {
  filter: brightness(60%);
  transition: all 1s;
}
.post-image-container-2 {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: min-content;
}

.latest-quote {
  color: #303336;
  padding: 0 30px;
  margin: 50px 0;
}
.latest-quote::before {
  content: open-quote;
  font-size: 1.2rem;
}
.latest-quote::after {
  content: close-quote;
  font-size: 1.2rem;
}
.post-views {
  font-size: 1.2rem;
  padding: 0 15px;
  font-family: "Anton", sans-serif;
  color: #303336;
  margin: 0;
  text-align: right;
}
.author-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
/* Image modal Styling
-------------*/
.image-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.35s ease-in;
  z-index: 20;
}

.modal-header {
  display: block;
  height: 50px;
}

.modal-content {
  position: relative;
  max-width: max-content;
  max-height: max-content;
  overflow: hidden;
  margin: 0 auto;
}
.image-frame {
  background-color: #fffffe;
  padding: 15px;
}
.modal-image {
  margin: 0 auto;
  max-width: 100%;
  max-height: 80vh;
}

.close {
  color: #fffffe;
  float: right;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
}

/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
  .light-grey-background-div {
    background-color: #d9d9d9;
    height: calc(100% - 875px);
    position: absolute;
    width: 100%;
    padding: 15px;
    right: -15px;
    top: 250px;
    z-index: -1;
  }
  .yellow-background-div {
    background-color: #ffff00;
    height: calc(100% - 275px);
    position: absolute;
    width: 100%;
    padding: 15px;
    right: -15px;
    top: 250px;
    z-index: -1;
  }
  .latest-quote::before,
  .latest-quote::after {
    font-size: 1.8rem;
  }
}

/* Extra Large Screens-------------*/
@media only screen and (min-width: 1281px) {
}
/* 
      -------------*/
/* 
      -------------*/
