/* font-family: 'Lato', sans-serif;
font-family: 'Metal Mania', cursive;
font-family: 'Anton', sans-serif; 

Black:      #000000
White:      #FFFFFE
Red:        #FF0000
Yellow:     #FFFF00
Light grey: #D9D9D9
Dark grey:  #303336

*/

/*General styles ----------------*/

h1 {
  font-size: 2.5rem;
  padding: 0 15px;
  font-family: "Metal Mania", cursive;
  color: #000000;
  margin-bottom: 30px;
}
h2 {
  font-size: 2rem;
  padding: 0 15px;
  font-family: "Anton", sans-serif;
  color: #303336;
}
/*homepage h3*/
h3 {
  font-size: 1.5rem;
  padding: 0 25px;
  font-family: "Metal Mania", cursive;
  letter-spacing: 2px;
  color: #fffffe;
  margin-bottom: 15px;
}
/*Rest h3*/
.version2 {
  font-size: 1.2rem;
  padding: 0 15px;
  font-family: "Anton", sans-serif;
  color: #303336;
}

p {
  font-size: 1rem;
  padding: 30px 50px;
  line-height: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #000000;
}
.p2 {
  font-weight: bold;
  line-height: 2rem;
}
.p3 {
  font-weight: bold;
}

body {
  margin: 0 5%;
}
main {
  margin: 0 15px;
}

.dark-grey-background-div {
  background-color: #303336;
  height: 20px;
  margin: 50px 0;
}

/* Header image styling ---------- */

.header-logo-container {
  margin: 0 auto;
  width: 100px;
}
.header-logo {
  width: 100px;
}
.nav-logo {
  display: none;
  height: 68px;
  width: 60px;
  background-image: url("/images/Logo-Icon-100px.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Nav styling ------------- */

#hamburger-menu,
nav {
  display: none;
}
.hamburger-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 100%;
  color: #fffffe;
  background-color: #000000;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
.fa-bars {
  padding: 10px;
}

#hamburger-menu:checked ~ nav,
#hamburger-menu:checked ~ .search-box {
  display: block;
}
.nav-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}

.navbar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #000000;
  padding: 0;
  min-height: 50px;
  align-items: center;
}

.search-box {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.search-box input[type="text"] {
  position: relative;
  border: 0;
  padding: 0;
  width: 0px;
  height: 35px;
  transition: all 0.5s ease;
}
.search-box input[type="text"].visible {
  width: 200px;
  padding: 0 10px;
  transition: all 0.5s ease;
}
.search-button {
  display: none;
  position: absolute;
  right: 15px;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 0;
  border: 0;
  border-left: solid 2px black;
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: #000000;
  background-color: #fffffe;
}
.search-button:hover {
  color: #fffffe;
  background-color: #ff0000;
}
.search-button.visible {
  display: inline-block;
  width: 75px;
  padding: 0 10px;
}
.search-label {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  color: #fffffe;
  background-color: #000000;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  margin-right: -20px;
}

.fa-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: block;
  margin: 20px 0;
  text-align: center;
}
nav a {
  font-size: 1.5rem;
  padding: 12px 20px;
  font-family: "Anton", sans-serif;
  color: #fffffe;
  text-decoration: none;
}

nav a:hover {
  background-color: #ff0000;
}
.current {
  text-decoration: underline;
}
.sticky {
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 10;
}

/* Button styling ------------- */
.cta-button {
  background-color: #ff0000;
  border: none;
  width: 250px;
  margin: 50px 0;
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fffffe;
  padding: 15px 50px;
}
.cta-button:hover {
  background-color: #7a0000;
}
.button-container {
  margin: 0 auto;
  width: 250px;
}

/* Footer styles -------------------*/
footer {
  margin-top: 100px;
}

.social-media-container {
  background-color: #d9d9d9;
  margin-top: 30px;
  padding: 3rem 1rem;
}

footer p {
  color: #303336;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
}

.fa-youtube,
.fa-spotify,
.fa-facebook,
.fa-twitter {
  font-size: 3rem;
  color: #303336;
}
.fa-spotify:hover {
  color: #1db954;
}
.fa-youtube:hover {
  color: #ff0000;
}
.fa-facebook:hover {
  color: #4267b2;
}
.fa-twitter:hover {
  color: #1da1f2;
}
.footer-logo-container {
  margin: 0 auto;
  width: 150px;
}
.footer-logo {
  width: 150px;
}
.dark-grey-footer-div {
  height: 30px;
  width: 100%;
  background-color: #303336;
}

/* Tablet and smaller screen sizes-------------*/
@media (min-width: 641px) {
  .cta-button {
    width: 300px;
    font-size: 1.5rem;
  }

  .button-container {
    width: 300px;
  }
}
/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
  nav,
  .search-box {
    display: block;
  }
  .search-box {
    margin-bottom: 0;
  }
  .search-button {
    right: 35px;
  }
  .navbar {
    flex-direction: row;
    padding: 0 10px;
    justify-content: space-between;
    height: 60px;
  }
  nav li {
    display: inline-block;
    margin: 0;
  }
  .search-label {
    margin-right: 0px;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  /*homepage h3*/
  h3 {
    font-size: 2rem;
    margin-top: 0;
  }
  /*Rest h3*/
  .version2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }
  .logo-container,
  .header-logo {
    width: 150px;
  }
  .nav-bar-container {
    align-items: center;
  }
  .hamburger-label {
    display: none;
  }
  .nav-logo {
    display: block;
  }
  .cta-button {
    width: 500px;
  }
  .button-container {
    width: 500px;
  }
  .icon-container {
    width: 50%;
  }
}
/* Extra Large Screens-------------*/
@media only screen and (min-width: 1281px) {
  body {
    margin: 0 20%;
  }
  .sticky {
    width: 60%;
  }
  .search-box input[type="text"].visible {
    width: 250px;
  }
}
/* 
  -------------*/
/* 
  -------------*/
