/* font-family: 'Lato', sans-serif;
font-family: 'Metal Mania', cursive;
font-family: 'Anton', sans-serif; 

Black:      #000000
White:      #FFFFFE
Red:        #FF0000
Yellow:     #FFFF00
Light grey: #D9D9D9
Dark grey:  #303336

*/

/*General styles ----------------*/

h1 {
  font-size: 4rem;
  padding: 0 50px;
  font-family: "Metal Mania", cursive;
  line-height: 75px;
  color: #000000;
}
h2 {
  font-size: 3rem;
  padding: 0 50px;
  font-family: "Metal Mania", cursive;
  line-height: 50px;
  letter-spacing: 5px;
  color: #fffffe;
}
h3 {
  font-size: 2rem;
  padding: 0 50px;
  font-family: "Anton", sans-serif;
  line-height: 45px;
  color: #303336;
}
cite,
h4 {
  font-size: 1.5rem;
  padding: 0 50px;
  font-family: "Anton", sans-serif;
  line-height: 45px;
  color: #303336;
}
blockquote p {
  font-weight: bold;
}
p {
  font-size: 1.2rem;
  padding: 0 50px;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  color: #000000;
}

body {
  margin: 0 5%;
}

.light-grey-background-div {
  background-color: #d9d9d9;
  height: 500px;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 300px;
  z-index: -1;
}

.dark-grey-background-div {
  background-color: #303336;
  height: 20px;
}

.yellow-background-div {
  background-color: #ffff00;
  height: 500px;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 1400px;
  z-index: -1;
}
.wp-image-684 {
  width: 100%;
  height: auto;
}
/* Header image styling ---------- */

.header-logo-container {
  margin: 0 auto;
  width: 100px;
}
.header-logo {
  width: 100px;
}
.nav-logo {
  display: none;
  height: 68px;
  width: 60px;
  background-image: url("/images/Logo-Icon-300px.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Nav styling ------------- */
.search-box,
#hamburger-menu,
#search-menu {
  display: none;
}
.hamburger-label,
.search-label {
  color: #fffffe;
  background-color: #000000;
  font-size: 1.5rem;
  padding: 10px;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
/* #search-menu:checked ~ .search-box {
  display: block;
} */
.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: #000000;
}
.nav-bar-flex {
  display: flex;
  padding: 0;
}
.nav-search-flex {
  display: flex;
}
nav {
  display: none;
  margin: 0 auto;
  width: 100%;
  background-color: #000000;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: block;
  text-align: center;
  padding: 20px;
}
nav a {
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
  color: #fffffe;
  padding: 16px 20px;
}

nav a:hover {
  color: #fffffe;
  background-color: #ff0000;
}
.current {
  text-decoration: underline;
}
.sticky {
  position: fixed;
  top: 0;
  width: 90%;
}
.sticky + .content {
  padding-top: 60px;
}

/* Footer styles -------------------*/
footer {
  background-color: #000000;
}

.fa-youtube {
  font-size: 3rem;
  color: #ff0000;
}
.fa-spotify {
  font-size: 3rem;
  color: #1db954;
}

/*  Desktop screen sizes-------------*/
@media (min-width: 801px) {
  .logo-container,
  .header-logo {
    width: 150px;
  }
  .nav-bar-container {
    align-items: center;
  }
  .hamburger-label {
    display: none;
  }
  .nav-logo {
    display: flex;
  }
  .nav-search-flex {
    padding-top: 0;
  }
  nav {
    display: block;
  }
  nav li {
    display: inline-block;
    padding: 0;
  }
  nav ul {
    margin: 16px 0;
  }
}
/* Extra Large Screens-------------*/
@media only screen and (min-width: 1281px) {
  body {
    margin: 0 20%;
  }

  .light-grey-background-div {
    height: 500px;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 300px;
    z-index: -1;
  }

  .yellow-background-div {
    height: 500px;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 1400px;
    z-index: -1;
  }
  .sticky {
    width: 60%;
  }
}
/* 
  -------------*/
/* 
  -------------*/
